/* CSS declarations go here */
h1 {
    text-align: center;
}

h2 {
    text-align: left;
}
h3 {
    text-align: center;
    color: white;
}
#activeListSpan {
	padding-left: 20px;
}
.rightPad20{
	padding-right: 20px;
}
.selected{
	background-color: lightgrey;
}
#formSubmit{
	text-align: center;
}


body{
	background-color: #252830;
	color:white;
}
table{
	background: #252830;
	

}
th{
	background: #252830;
	color:white;
	text-decoration-color:white;
}
tr{
	background: #252830;
	color:white;
}
.table-striped{
background: #252830;
	color:white;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #252830;
   color: white;

}